!!!
%html{html_attrs}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Biki | Bruce's Wiki
    %link{:href => '/blueprint/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/blueprint/print.css', :media => 'print', :rel => 'stylesheet', :type => 'text/css'}
    /[if lt IE 8]
      %link{:href => '/blueprint/ie.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
      
    %link{:href => '/css/default.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/background.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .container
      .span-24
        #header
          %h1 biki

      .span-24
        #menubar
          %a{:href => "/pages"} Pages :
          %a{:href => "/tags"} Tags :
          - if @page != nil
            %a{:href => "/#{@page.name}/edit"} Edit

      .span-24
        .body
          = yield
