!!!
%html{html_attrs}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Biki | Bruce's Wiki
    %link{:href => '/blueprint/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/blueprint/print.css', :media => 'print', :rel => 'stylesheet', :type => 'text/css'}
    /[if lt IE 8]
      %link{:href => '/blueprint/print.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
      
    %link{:href => '/css/default.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/css/background.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  %body
    .container.showgrid
      #header
        %a{:href => '/'}
          %img{:src => '/images/logo.gif', :alt => 'Logo'}
        %ul.navigation
          %li
            %a{:href => '/sync'} Sync Wiki
          %li
            %a{:href => '/logout'} Logout
      #page
        %ul.tags
          %li
            %a{:href => '#'} ruby
          %li
            %a{:href => '#'} rails
        .body
          :markdown
            # Caching with Rails
          
            - caches_page
            - caches_action
            - cache { }
          
      #sidebar
        %ul.actions
          %li
            %a{:href => '/edit'} Edit this page
          %li
            %a{:href => '/add'} Add a new page
        %h3 Recent Pages
        %ul.pages
          %li
            %a{:href => '#'} Caching with Rails
          %li
            %a{:href => '#'} Sinatra code