
#tagslist
  %h3.tagslist 
    = "Pages tagged with: <b>'#{@tag_name}'</b>"

  #pageslist
    %ul.tagslist
      - @tagstable[@tag_name].each do |page|
        %li
          %a{:href => "/#{page}"}= page
